body {

  background-color: rgb(255, 255, 255);
  margin:0;

  font-family: "Shadows Into Light", sans-serif;

  text-shadow: 10 1 9px
  color: rgba(255, 255, 255, 0.3);
}

h1 {
    color: rgb(255, 255, 255);
    font-size: 26px;
    padding-left: 40px;
    box-sizing: border-box;
    padding-top: 10px;
    background-color: rgb(69, 183, 226);
    background-position: center;
    height: 65px;
    background-attachment: scroll;
    background-size: contain;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.44);
    margin-left: -20px;
    margin-right: -20px;
}

